h1 {
    text-align: center;
    font-family: 'Droid Sans', sans-serif;
    font-weight: bold;
    color: #58595a;
}

div.col-sm-6 {
    margin-bottom: 20px;
}

button {
    margin-right: 20px;
}

button.menu {
    margin-top: 20px;
    margin-bottom: 20px;
}

button.form {
    margin-bottom: 20px;
}

Form.menuButton {
    margin-left: 30%;
    width: 40%;
}

Form.editForm {
    width: 60%;
}

